  p{
            font-family: Roboto,arial;
            margin-top: 0;
            margin-bottom: 0;
        }
        .thumbnail{
            width: 100%;
        }
        
        .video-title{
            margin-top: 0;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            margin-bottom: 10px;
        }
        .video-auto{
            font-size: 12px;
            color: rgba(96,96,96);
            margin-bottom: 4px;
        }
        .video-stat{
            font-size: 12px;
              color: rgba(96,96,96);
        }
        .preview{
            
        }
        .chanel-picture{
            display: inline-block;
            width:50px;
            vertical-align: top;
        }
        .video-info-grid{
            display: grid;
            grid-template-columns: 50px 1fr;

        }
        .video-info{
            display: inline-block;
            width: 245px;
        }
        .profile{
            width: 36px;
            border-radius: 50px;
        }
        .thumbnail-row {
           margin-bottom: 8px;
           position: relative;
        }
        .video-grid{
            display: grid;
            grid-template-columns:  1fr 1fr 1fr 1fr ;
            column-gap: 16px;
            row-gap: 40px;
          
        }
        .video-time{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 4px;
            padding-bottom: 4px;
            border-radius: 2px;
            background-color: black;
            color: white;
            position: absolute;
            bottom: 8px;
            right: 5px;
        }
        .video-time2{
             font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 4px;
            padding-bottom: 4px;
            border-radius: 2px;
            background-color: black;
            color: white;
            position: absolute;
            bottom: 8px;
            right: 5px;

        }
        .video-time3{
             font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 4px;
            padding-bottom: 4px;
            border-radius: 2px;
            background-color: black;
            color: white;
            position: absolute;
            bottom: 8px;
            right: 5px;

        }
        .video-time4{
             font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 4px;
            padding-bottom: 4px;
            border-radius: 2px;
            background-color: black;
            color: white;
            position: absolute;
            bottom: 8px;
            right: 5px;

        }
        .video-time5{
             font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 4px;
            padding-bottom: 4px;
            border-radius: 2px;
            background-color: black;
            color: white;
            position: absolute;
            bottom: 8px;
            right: 5px;

        }
        .video-time6{
             font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 4px;
            padding-bottom: 4px;
            border-radius: 2px;
            background-color: black;
            color: white;
            position: absolute;
            bottom: 8px;
            right: 5px;

        }